.container {
    margin: 50px 0;
}

.card {
    margin: 0 2% !important;
}

.infected {
    border-bottom: 5px solid rgba(0,0,250,0.5);
}

.recovered {
    border-bottom: 5px solid rgba(0,250,0,0.5);
}

.deaths {
    border-bottom: 5px solid rgba(250,0,0,0.5);
}

.infectedCount {
    color: rgba(0,0,250,0.5);
}

.recoveredCount {
    color: rgba(0,250,0,0.5);
}

.deathsCount {
    color: rgba(250,0,0,0.5);
}

